.products-gallery {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.products-gallery {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.gallery-title {
  font-size: 3rem;
  margin-bottom: 40px;
  background: linear-gradient(135deg, #2C7D78, #3B9CA1, #6F6BA8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For Firefox */
  color: transparent;}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.gallery-item {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}


.gallery-item:hover {
  transform: translateY(-4px);
}

.gallery-item img {
  width: 100%;
  height: 240px;
  display: block;
  border-radius: 12px;
}

.gallery-item img {
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.gallery-item img.loaded {
  opacity: 1;
  transform: scale(1);
}


.download-btn {
  display: inline-block;
  margin: 30px;
  padding: 10px 20px;
  background-color: #245f73;
  color: white;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #1e4d5f;
}
